<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="navbar-collapse" id="navbarCollapse">
        <ul *ngIf="!authenticated" class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/login">log in</a>
          </li>
          <li  class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/register">register</a>
          </li>
        </ul>
        <ul *ngIf="authenticated" class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/recipes">browse recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/lists">recipe lists</a>
          </li>
          <li class="nav-item-logout">
            <button class="btn-logout ms-auto" (click)="onLogout()">log out</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>