<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Home</a>
      
      <div class="collapse navbar-collapse" id="navbarCollapse">
        
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li *ngIf="!authenticated" class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/login">log in</a>
          </li>
          <li *ngIf="!authenticated" class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/register">register</a>
          </li>
          <li *ngIf="authenticated" class="nav-item-logout">
            <button class="btn-logout" (click)="onLogout()">log out</button>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</header>